.vscode
LA/Baseline-LFCC-LCNN/.env
LA/Baseline-LFCC-LCNN/core_scripts/__pycache__/
LA/Baseline-LFCC-LCNN/core_scripts/config_parse/__pycache__/
LA/Baseline-LFCC-LCNN/core_scripts/data_io/__pycache__/
LA/Baseline-LFCC-LCNN/core_scripts/data_io/text_process/__pycache__/
LA/Baseline-LFCC-LCNN/core_scripts/math_tools/__pycache__/
LA/Baseline-LFCC-LCNN/core_scripts/nn_manager/__pycache__/
LA/Baseline-LFCC-LCNN/core_scripts/op_manager/__pycache__/
LA/Baseline-LFCC-LCNN/core_scripts/other_tools/__pycache__/
LA/Baseline-LFCC-LCNN/sandbox/__pycache__/
LA/Baseline-LFCC-LCNN/project/DATA/toy_example.tar.gz
LA/Baseline-LFCC-LCNN/project/DATA/toy_example/
LA/Baseline-LFCC-LCNN/project/baseline_LA/.env
LA/Baseline-LFCC-LCNN/project/baseline_LA/__pycache__/
LA/Baseline-LFCC-LCNN/project/baseline_LA/*/*.pt
LA/Baseline-LFCC-LCNN/project/baseline_LA/*.txt
LA/Baseline-LFCC-LCNN/project/baseline_LA/*.dic
LA/Baseline-LFCC-LCNN/project/tDCF_python_v2/__pycache__/
LA/Baseline-LFCC-LCNN/project/tDCF_python_v2/scores/*